@{
    ViewData["Title"] = "Thank You!";
}

<h1>Thank you for your purchase!</h1>
<p>Your transaction was successful. We appreciate your business!</p>
<button onclick="window.location.href='@Url.Action("Index", "Home")'"> Home Page</button>